<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>4일_서블릿</display-name>
  
  <servlet>
    <servlet-name>SaveToXML</servlet-name>
    <servlet-class>servletpj.SaveToXMLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveToDB</servlet-name>
    <servlet-class>servletpj.SaveToDBServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressBook</servlet-name>
    <servlet-class>servletpj.AddressBookServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SaveToXML</servlet-name>
    <url-pattern>/savetoxml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveToDB</servlet-name>
    <url-pattern>/savetodb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressBook</servlet-name>
    <url-pattern>/addressbook</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>uploadFile.jsp</welcome-file>
  </welcome-file-list>
</web-app>